.swiper-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    
    overflow: hidden;
}

.swiper-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease;
    /* transform: translateX(calc(-50% + (50vw * var(--selectedIndex, 0)) - 50vw)); */
}

.swiper-item {
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.swiper-item.selected {
    transform: scale(1.2); /* Make the clicked item larger */
    color: #ffcc00; /* Highlight the selected item */
}

.swiper-item:hover {
    transform: scale(1.1);
    color: #f0f0f0;
}
